<div fxLayout="column" class="page">
  <md-toolbar color="primary" class="md-elevation-z6">
        <div fxFlex fxLayout fxLayoutAlign="space-between center">
            <button md-icon-button (click)="sidenav.toggle()">
                    <md-icon>menu</md-icon>
                </button>
            <span fxFlex>Título aqui</span>
            <div fxLayoutFill fxLayout fxLayoutAlign="end center">
                <div fxHide.xs>
                    <button md-button color="accent">
                            INSERIR
                        </button>
                    <button md-button color="accent">
                            ALTERAR
                        </button>
                    <button md-button color="accent">
                            DELETAR
                        </button>
                </div>
                <button md-icon-button fxHide.gt-xs [mdMenuTriggerFor]="menu">
                            <md-icon>more_vert</md-icon>
                    </button>
                <md-menu #menu="mdMenu">
                    <button md-menu-item>
                            <md-icon>dialpad</md-icon>
                            <span>Redial</span>
                        </button>
                    <button md-menu-item disabled>
                            <md-icon>voicemail</md-icon>
                            <span>Check voicemail</span>
                        </button>
                    <button md-menu-item>
                            <md-icon>notifications_off</md-icon>
                            <span>Disable alerts</span>
                        </button>
                </md-menu>
            </div>
        </div>
    </md-toolbar>

  <div 
    fxLayout="column"
    fxLayout.gt-xs="row" 
    fxLayoutAlign.gt-xs="space-between stretch"
    fxLayoutAlign="start stretch"  
    class="container">
    
    <div fxFlexOrder.gt-xs="2" fxFlexOrder="1" fxFlex class="conteudo">
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Último conteúdo</md-card>
    </div>
    <div fxFlexOrder.gt-xs="1" fxFlexOrder="2" class="left">
      <md-card>Left conteúdo</md-card>
    </div>
    <div fxFlexOrder="3" class="right">
      <md-card>Right conteúdo</md-card>
    </div>
</div>
</div>

