<div fxLayout="column" class="page">
  <md-toolbar  
    color="primary" 
    class="md-elevation-z4">

    <div fxLayout fxLayoutAlign="space-between center">
      <button md-button class="md-icon-button">
          <md-icon>menu</md-icon>
      </button>
      <span>No More Coffee</span>  
      <button md-button class="md-icon-button">
          <md-icon>list</md-icon>
      </button>
    </div>
  </md-toolbar>

  <div 
    fxLayout="column"
    fxLayout.gt-xs="row" 
    fxLayoutAlign.gt-xs="space-between stretch"
    fxLayoutAlign="start stretch"  
    class="container">
    
    <div fxFlexOrder.gt-xs="2" fxFlexOrder="1" fxFlex class="conteudo">
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Primeiro conteúdo</md-card>
      <md-card>Último conteúdo</md-card>
    </div>
    <div fxFlexOrder.gt-xs="1" fxFlexOrder="2" class="left">
      <md-card>Left conteúdo</md-card>
    </div>
    <div fxFlexOrder="3" class="right">
      <md-card>Right conteúdo</md-card>
    </div>
</div>
</div>

